@using SAyCC.SystemAdmin.Utilities
@* @model SAyCC.Entities.SystemAdmin.PermissionEntity *@
@model List<SAyCC.Entities.SystemAdmin.UserUtilityEntity>
@inject SAyCC.SystemAdmin.Utilities.IGenerals _sessions
@{
    ViewData["Title"] = "Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label>Aplicación:</label>
        <br />
        <select id="hfIdAppEdit" class="form-control filters">
            @{
                var app = (List<SAyCC.Entities.Login.ApplicationEntity>)ViewBag.Applications;
                foreach (var item in app)
                {
                    <option value="@item.Id">@item.Descripcion</option>
                }
            }
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-3 datagrid">
        <table id="table_id">
            <thead>
                <tr>
                    <th scope="col">Usuarios</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr name="SelectUser" class="trFila" data-id="@item.Id">
                        <td>
                            <span>@item.Nombre</span>
                            <i id="icon_@item.Id" class="fas fa-solid fa-play text-success iconUser oculto"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-8">
        @{
            var ConfPermissions = (SAyCC.Entities.SystemAdmin.PermissionListEntity)ViewBag.ConfigurationsPermissions;
        }
        <div id="PermissionsList">
            @Html.Partial("~/Views/Permission/_PermissionsList.cshtml", ConfPermissions)
        </div>
       @if(_sessions.HasAccessTo(new[] { (int)PermisoEn.TodosLP, (int)PermisoEn.Editar })) {
            <input id="btnSaveConfig" type="button" class="btn rounded-pill btnManagmentSave" value="Guardar Cambios" disabled />
        }
    </div>
</div>

@* <div  class="col-xs-12 col-sm-12 col-xs-12 datagrid " style="overflow:scroll; height:400px;">
    <table id="table_id">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Asignar</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                    <td>@item.Nombre</td>
                    <td></td>
                       
                    </tr>
                }
        </tbody>
    </table>
</div> 

<div class="row">
    <div class="col-3">
       
        <ul class="rectangle-list">
            @foreach (var item in Model)
            {
                <li><span>@item.Nombre</span></li>
            }
        </ul>
    </div>
</div>
*@
@* <div id="dvTablaPermissionMod" class="col-xs-12 col-sm-12 col-xs-12 datagrid " style="overflow:scroll; height:400px;">
    <table id="table_FourthId">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Módulo</th>
                <th scope="col">Perfil</th>
                <th scope="col">Aplicación</th>
                <th scope="col">Permisos</th>
            </tr>
        </thead>
        <tbody>

            @{
                var Permiso = (List<SAyCC.Entities.SystemAdmin.PermissionEntity>)ViewBag.Permission;
                foreach (var item in Permiso)
                {
                    <tr>
                        <td class="ajustes"><input type="hidden" asp-for="Id" value="@item.Id">@item.Id</td>
                        <td>
                            <input type="hidden" name="permission[0].IdModulo" value="@item.IdModulo">@item.Modulo
                        </td>
                        <td><input type="hidden" name="permission[0].IdPerfil" value="@item.IdPerfil"> @item.Perfil</td>
                        <td >@item.Descripcion</td>
                        <td class="dt-center">
                            <div class="row">
                                <div class="col-4"><input type="checkbox" class="dt-center" @item.chkAlta name="Alta"> Alta </div>
                                <div class="col-4"><input type="checkbox" class="dt-center" @item.chkModificacion namer="Modificacion"> Modificación </div>
                                <div class="col-4"><input type="checkbox" class="dt-center" @item.chkConsulta name="Consulta"> Consulta </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div> *@

<script>
    $(function () {
        $('.collapse').collapse();
        let IdPagina = "@_sessions.IdCurrentPage";
        $("#liMenu_" + IdPagina).addClass('PaginaActiva');
        EmptyConfiguration();
    });
     var resul = "@ViewBag.Resultado";
        switch (resul) {
            case "SaveSuccess":
                swal("Éxito", "El registro ha sido creado con éxito.", "success");
                break;
            case "SaveError":
                swal("ERROR", "@ViewBag.MessageError", "error");
                break;
    }
</script>
<script src="~/js/jsPermission.js"></script>
<script src="~/js/Common.js"></script>