<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SystemAdmin</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/css/LayoutPrincipal.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/CommonStyles.css" />
    <link href="~/lib/font-awesome-5-css/css/all.min.css" rel="stylesheet" />
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
     <link href="~/lib/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    
</head>
<body style="overflow: hidden;">
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            @*<div class="sidebar-header">*@
            <div>
                @Html.Partial("_ImgProfile")
                <div id="Menudynamic">
                    <h6 style="text-align:center;vertical-align:middle; font-weight:bold;"> Módulos</h6>
                    <div class="dropdown-divider"></div>
                    <ul class="nav nav-tabs">
                        @Html.Partial("_SideBar")
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            <nav id="bannerPal" class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menú</span>
                    </button>
                    @Html.Partial("_Ajustes")
                </div>
            </nav>
            <div class="contenido">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            configuraTabla("table_id");
            configuraTabla("table_Medidor");
            configuraTabla("table_SecondId");
            configuraTabla("table_ThirdId");
            configuraTabla("table_FourthId");
            configuraTabla("table_FifthId");

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            $('a').click(function (e) {
                var $this = $(this);
                $this.closest('ul').find('a.active').removeClass('active');

            });
        });

        function configuraTabla(TableId) {
            $('#' + TableId).DataTable(
                {
                    //"order": [[0, "desc"]],
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                }
            );
        }

    </script>
</body>
</html>